<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Example page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://www.bebedepino.com/web/product/medium/202209/c02554db515b31037e682c3095ea2e03.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">BP23OS001</div>
                <h1 class="display-5 fw-bolder">테디신생아라운지웨어세트</h1>
                <div class="fs-5 mb-5">
                    <span>79000</span>
                </div>
                <p class="lead">베베드피노 올 오버 테디 뉴본 라운지웨어 세트입니다.</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<form th:object="${form}">
    <div class="form-group" style="padding: 100px">
        <h1>리뷰</h1>
        <br>
        <br>
        <a class="btn btn-lg btn-dark" href="/reviewlist">리뷰 목록</a>
        <a class="btn btn-lg btn-dark" href="/avg">평가</a>
        <br>
        <br>
        <br>
        <label th:for="title">제목</label>
        <input type="text" th:field="*{title}" class="form-control"
               placeholder="제목을 입력하세요">
        <br>
        <label th:for="coment">내용</label>
        <textarea type="text" th:field="*{coment}" class="form-control"
                  cols="30" rows="5" placeholder="160자까지 입력할 수 있습니다."></textarea>
        <br>

        <label th:for="score">총 점수(별점)</label>
        <select class="form-control" th:for="score" th:field="*{score}">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>
        <br>
        <label th:for="size_evaluation">크기</label>
        <select class="form-control" th:for="size_evaluation" th:field="*{size_evaluation}">
            <option value=1>너무 작아요</option>
            <option value=2>딱 맞아요</option>
            <option value=3>너무 커요</option>
        </select>
        <br>
        <label th:for="color_evaluation">색감</label>
        <select class="form-control" th:for="color_evaluation" th:field="*{color_evaluation}">
            <option value=3>화면이랑 똑같아요.</option>
            <option value=1>생각했던 색감이 아니에요.</option>
            <option value=2>그냥 그래요.</option>

        </select>
        <br>
        <label th:for="fabric_evaluation">옷의 재질 </label>
        <select class="form-control" th:for="fabric_evaluation" th:field="*{fabric_evaluation}">
            <option value=1>몇 번 못 입을 것 같아요</option>
            <option value=3>완전 튼튼해요</option>
            <option value=2>그냥 그래요</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary" onclick="dataSend()">Submit</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/js/ajax.js"></script>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
