<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>title</th>
        <th>coment</th>
        <th>score</th>
        <th>size_evaluation</th>
        <th>color_evaluation</th>
        <th>fabric_evaluation</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="review :${reviews}">
        <td th:text="${review.title}"></td>
        <td th:text="${review.coment}"></td>
        <td th:text="${review.score}"></td>
        <td th:text="${review.size_evaluation}"></td>
        <td th:text="${review.color_evaluation}"></td>
        <td th:text="${review.fabric_evaluation}"></td>

    </tr>

    </tbody>
</table>
</body>
</html>

